/* Body Styling */
body {
    background-color: #f0efeb;
}
/* Parent Styling */
.parent {
    background-color: #f0efeb;
}
/* Game Board */
.board {
    display: flex;
    margin: auto;
    background-color: #cb997e;
    height: 80vh;
    width: 80vw;
    border-radius: 25px;
    border: black solid 1px;
    justify-content: space-between;
    align-items: center;

}
/* Well Class */
.well {
    background-color: #ddbea9;
    border-radius: 25px;
    border: black solid 1px;
    height: 60vh;
    width: 10vw;
}
/* Player 1's Well */
.well_1 {
    /* margin-top: 70px; */
    margin-left: 10px;
    
}
/* Player 2's Well */
.well_2 {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}
/* Hole Container */
.hole_child div{
    display: flex;
    flex-direction: row;
}
/* Hole Class */
.hole {
    background-color: #ddbea9;
    height: 15vh;
    width: 15vh;
    border-radius: 50px;
    border: black solid 1px;
    margin: 20px;
    /* overflow: hidden; */
}
/* .hole::after{
    content: '';
    display: table;
    clear: both;
} */

.player_1.hole {
    align-self: center;
}
.player_2.hole {
    align-self: center;
}

/* Text Styling */
h1 {
    color: #fff1e6;
    text-align: center;
    font-size: 60px;
    text-shadow: #a5a58d 1px 3px 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.dip h3 {
    color: #b7b7a4;
    text-shadow: black 1px 1px;
    font-size: 40px;
}
/* Start Button Styling */
.play {
    background-color: #ddbea9;
    margin-top: 10px;
    margin-left: 45%;
    border-radius: 25px;
    color: #a5a58d;
    height: 10vh;
    width: 10vw;
    font-size: 25px;
    text-shadow: black 1px 1px 1px;
}
/* Marble Image */
.marble {
    
    /* object-fit: contain; */
    height: 10vh;
}
/* Beige */
.marble-top-left {
    float: left;
    margin-right: -100%;
    padding-top: 1%;
    position: relative;
    z-index: 1;
}
/* Forest */
.marble-top-right {
    float: left;
    margin-left: 70%;
    margin-right: -100%;
    padding-top: 15%;
    position: relative;
    z-index: 1;
}
/* Tan */
.marble-bottom-right {
    float: left;
    margin-right: -100%;
    padding-top: 15%;
    position: relative;
    z-index: 1;
}
/* Olive */
.marble-bottom-left {
    float: left;
    margin-right: -100%;
    padding-top: 20%;
    position: relative;
    z-index: 1;
}
/* Header Styling */
.header {
    display: flex;
    justify-content: center;
}
.header img {
    height: 10vh;
}
/* Sweet Alert Button Styling */
.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #b7b7a4;;
    font-size: 12px;
    border: 1px solid #cb997e;;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}